<h1>Login</h1>
<div class="container">
  <div class="row">
    <div class="col-md-12">


      <form #loginForm="ngForm">
        <fieldset>
          <legend class="text-center">Valid information is required to add stock. <span class="req"><small>required
                *</small></span></legend>

          <small *ngIf="invalidLogin" style="color: red;">{{errorMessage}}</small>

          <div>
            User Name: <input type="text" name="username" [(ngModel)]="username" required>
            Password: <input type="password" name="password" [(ngModel)]="password" required>

            <button class="btn btn-success" (click)=handleLogin() [disabled]="!loginForm.valid">Login</button>
          </div>

        </fieldset>
      </form>
    </div>

  </div>
</div>
