<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Company name</th>
        <th scope="col">Code</th>
        <th scope="col">CEO</th>
        <th scope="col">Turnover</th>
        <th scope="col">Website</th>
        <th scope="col">Enlisted Stock Exchange</th>
        <th scope="col">Latest Stock price</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let response of responseCompanies">
        <td>{{response.company.name}}</td>
        <td>{{response.company.code}}</td>
        <td>{{response.company.ceo}}</td>
        <td>{{response.company.turnover | currency}}</td>
        <td>{{response.company.website}}</td>
        <td>{{response.company.enlistedStockExchange}}</td>
        <td>{{response.stock.stockPrice | currency}}</td>
        <td><i class="fa fa-trash" style="font-size:20px; color:red; cursor: pointer;"
            (click)="deleteCompany(response.company.code)"></i></td>
        <td>
          <!-- <a routerLink="edit/{{response.company.code}}}"> -->
          <a routerLink="edit/{{response.company.code}}">
            <i class="fa fa-edit" style="font-size:20px; color:blue;"></i>
          </a>
        </td>

        <!-- <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>@mdo</td> -->
      </tr>


    </tbody>
  </table>
</div>
